*{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    align-items:flex-start;
    justify-content:center;
}
.background{
    background:black;
    background-blend-mode:darken;
    background-size:cover;

}
.nav-list{
    width:70%;
    display:flex;
    align-items:center;
    gap:20px;
    list-style:none;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 180px;
    border-radius: 80px;
} 
#about{
    border:8px;
    max-width:600px;
    margin:auto;
    padding:20px;
    background:darkorange;
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
    padding: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(196, 201, 196);
}



.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}







.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

#home{
    border:8px;
    background-image: ;
}



footer {
    text-align: center;
    padding: 15px;
}




#search {
    box-sizing: border-box;
    width: 70%;
    padding: 8px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.btn-sm {
    padding: 8px 20px;
    margin: 7px 5px;
}

img {
    max-width: 100%;
    height: auto;
}